# `dbMod_MySQL` Guide

The Python module `dbmod_MySQL` has a set of functions that grant access to the database.

In [ ]:
from util.dbmod_MySQL import *

Functions within the module:
* `connect_to_db()`: Establishes a connection to the database with the credentials stated below. Returns a connection object that must be saved locally.
    - host name: den1.mysql4.gear.host
    - user name: batechodata
    - password: batcalls-1
    - database name: batechodata

In [ ]:
conn = connect_to_db()

* `db_info(conn)`: With a connection object, it outputs the name of the current database being used and any tables it contains.

In [ ]:
db_info(conn)

* `table_list(conn)`: With a connection object, it outputs the tables currently stored (in the current database).

In [ ]:
table_list(conn)

* `create_table_from_file_path(conn, file_path)`: With a connection object and a path to a file, identifies the file's extension and creates a table using the name of that file plus its extension; if necessary, it will replace any instances of the '.' character with '\_'. It will immediately call the respective `insert_into_table_...` function associated with the identified file extension.
    - `insert_into_table_csv(conn, table_name, file_path)`: With a connection object, it uses SQL's 'LOAD DATA INFILE LOCAL...' mechanism to directly insert the csv file from `file_path` into the associated table provided by `table_name`.
    - `insert_into_table_png(conn, table_name, file_path)`: Used in conjunction with another Python module `png_processing` that imports the `skimage` module. With a connection object, it first obtains the locations of the blue pixels in the png file, as the individual x and y coordinates provided as two lists `x` and `y`. Then, using a loop, it inserts each value from `x` and `y` into the table specified by `table_name`.
    - `insert_into_table_zc(conn, table_name, file_path)`: Uses Yang's `extract_anabat()` function to obtain the data from the zc/# file and, using a loop, inserts the data into the table specified by `table_name`.

NOTE: The operations involving the .zc and .png files will take a long time to finish. The .csv operation is much faster.

In [ ]:
fdir = '../data/outfun2/S7152113.44#.csv'
create_table_from_file_path(conn, fdir)

In [ ]:
fdir = '../data/raw/2015/cell-0/20150717/P7172114.09#'
create_table_from_file_path(conn, fdir)

In [ ]:
fdir = '../data/pulses/56110632.20#_0.png'
create_table_from_file_path(conn, fdir)

* `drop_table(conn, table_name)`: With a connection object, deletes a table from the current database with the SQL statement "`DROP TABLE table_name;`" and outputs the current list of tables post-execution.

In [ ]:
drop_table(conn, 's7152113_csv')

In [ ]:
drop_table(conn, 'p7172114_zc')

In [ ]:
drop_table(conn, '56110632_20_0_png')

* `select_from_table(conn, table_name)`: With a connection object, executes the SQL statement "`SELECT * FROM table_name;`" and outputs the contents of the table specified by `table_name`.

In [ ]:
out_csv = select_from_table(conn, 's7152113_csv')

In [ ]:
out_zc = select_from_table(conn, 'p7172114_zc')

In [ ]:
out_png = select_from_table(conn, '56110632_20_0_png')