In [ ]:
import csv
fdir = '../data/P7132033_37.csv'
data_name = fdir[8:19]
reader = csv.reader(open(fdir))
next(reader)
tmp = [line for line in reader]

Testing code for GearHost SQL server:

In [2]:
import mysql.connector

In [ ]:
conn = mysql.connector.connect(host='den1.mysql4.gear.host', user='batechodata', passwd='batcalls-1')
c = conn.cursor()

In [ ]:
c.execute("SHOW DATABASES;")
c.fetchall()

In [ ]:
conn = mysql.connector.connect(
    host='den1.mysql4.gear.host', 
    user='batechodata', 
    passwd='batcalls-1', 
    database='batechodata')
c = conn.cursor(buffered=True)

In [ ]:
c.execute('CREATE TABLE P7132033_37 (time REAL, frequency REAL)')

c.execute("SHOW TABLES;")
c.fetchall()

In [ ]:
for i in range(0, len(tmp)):
    c.execute('INSERT INTO P7132033_37 VALUES (%s, %s)', (tmp[i][0], tmp[i][1],))
    conn.commit()

In [ ]:
c.execute('SELECT * FROM P7132033_37;')
c.fetchall()

In [3]:
conn = mysql.connector.connect(
    host='localhost', 
    user='root', 
    passwd='', 
    database='temp')
c = conn.cursor()

In [10]:
c.execute('CREATE TABLE temp1 (col1 REAL, col2 REAL);')

In [16]:
c.execute('DROP TABLE {};'.format('temp1'))

In [21]:
c.execute('INSERT INTO temp1 VALUES (%s, %s);', (0, 1,))
conn.commit()